<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Storyline:</strong>
    <%= movie.storyline %>
  </p>

  <p>
    <strong>Watched on:</strong>
    <%= movie.watched_on %>
  </p>

</div>
